<!-- Template Helper: sidebar, which can used in different pages-->
<!--CUSTOMIZE: Build menu structure as needed-->
<nav class="col-3 col-xl-2 col-md-3 sidebar dbl-margin-top" role="navigation">
    <ul id="rootSidebar">
        <li class="sidebar__drawer sidebar__drawer--opened">
            <a tabindex="0" title="Template Pages">
                <span class="icon-browser"></span>
                <span>Template Pages <!--CUSTOMIZE: Change menu header element name--></span>
            </a>
            <ul>
                <li class="sidebar__item"><a href="/" target="_blank">Login<!--CUSTOMIZE: Change menu element name and adapt path--></a></li>
            </ul>
        </li>
    </ul>
</nav>
<!--CUSTOMIZE END-->
